{{!-- ---------------------------- --}}
{{!-- post creation form --}}

<h2>Create New Post</h2>

<div>
    <form class="post-form">
      <div class="form-group">
        <label for="post-title-label">Title:</label>
        <input class="form-input" type="text" id="post-title" />
        </div>
        <div>
        <label for="post-text-label">Content:</label>
        <input class="form-input" type="text" id="post-content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
</div>

{{!-- ---------------------------- --}}
{{!-- populates posts made by users --}}

<h2>Previous Posts</h2>

<div>
    {{#each dashboard as |post| }}
        <div class="row mb-4 project">
            <h3>
      <a href="/api/post/{{post.id}}">{{post.title}}</a>
    </h3>
            <div class="col-md-5">
                <p>Posted on {{format_date post.post_date}}</p>
            </div>
            <div class="col-md-7">
               <p>
             {{post.content}}
             </p>
            </div>
        </div>
    {{/each}}

</div>

{{!-- ---------------------------- --}}

<script src="/js/post.js"></script>