<div class="dish-card">
  <div class="dish-card-header">
    {{post.title}}
  </div>
  <div class="card-body">
    <!-- We render the description below, using a Handlebars.js expression. -->
    <p>
      Posted by: 
      {{post.user_id}}
    </p>
  </div>
</div>