<h2>Edit Post</h2>

<div>
    <form class="post-form" data-post-id="{{id}}">
      <div class="form-group">
        <label for="post-title-label">Title:</label>
        <input class="form-input" type="text" id="edit-post-title" value="{{title}}"/>
        </div>
        <div>
        <label for="post-text-label">Content:</label>
        <input class="form-input" type="text" id="edit-post-content" value="{{content}}"/>
      </div>
      <div class="form-group">
        <button class="button edit-post" type="submit">Submit</button>
      </div>
    </form>
</div>


<script src="/js/post.js"></script>
